<!DOCTYPE html>
<html>

<head>
  <title>InstagramChallenge</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <!--Navigation Bar-->
  <nav class="navbar navbar-light bg-light d-flex">
    <div class="container">
      <!-- logo -->
      <div class="logo">
        <a class="navbar-brand" href="<%= root_path%>">
          <%= fa_stacked_icon "camera inverse", base: "circle"%>
          Welcome to Instagram
        </a>
      </div>
      <div class="user-section">
        <%if !current_user%>
        <a href="/users/sign_up"> Sign Up <i class="fa fa-user-plus"></i></a>
        <%else%>
        <a href="users/sign_out" data-method="delete"> Sign Out <i class="fa fa-sign-out"></i></a>
        <% end %>

      </div>
      <!-- search bar -->
      <div class="m-auto">
        <form class="form-inline search-form">
          <input class="form-control mr-sm-2" type="search" placeholder="@search" aria-label="Search">
        </form>
      </div>
      <!-- icons for navigation -->
      <!-- CONDITIONAL FOR USER SIGNED IN -->
      <div class="user-section">
        <% if user_signed_in? %>
        <a href="<%= user_path(current_user)%>">
          <i class="fa fa-user"></i> User Page
          <a><i class="fa fa-compass"></i></a>
          <a><i class="fa fa-heart"></i></a>

        </a>
        <% else %>
        <a href="<%= new_user_session_path%>">
          <i class="fa fa-sign-in"></i> Sign In
        </a>
        <a><i class="fa fa-compass"></i></a>
        <a><i class="fa fa-heart"></i></a>
        <a><i class="fa fa-user"></i> User</a>
      </div>
      <% end %>
    </div>
  </nav>



  <!-- flash notifcations for rails -->
  <p class="notice">
    <%= notice %>
  </p>
  <p class="alert">
    <%= alert %>
  </p>
  <%= yield %>
</body>

</html>